body{
    font-family:"Arial", "Meiryo", sans-serif;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
  text-shadow: 2px 2px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114)
}
h2,p{
    font-size: 20px;
    text-align: center;
}
.text-skyblue{
  color: skyblue; 
}
.text-pink{
  color: rgb(255, 192, 203);
}
.pink{
    color: rgb(255, 192, 203);
}
.skyblue{
    color: skyblue;
}
#basic p{
    font-weight: bold;
}